
<md-card class="invest-card">
  <md-card-header>
    <md-card-title [routerLink]="['/home/project/' + item.id]">{{item.title}}
    </md-card-title>
    <span class="category">{{item.category}}</span>

    <md-card-subtitle><md-icon>room</md-icon> {{item.location}}</md-card-subtitle>
  </md-card-header>

  <img [routerLink]="['/home/project/' + item.id]" md-card-image src="{{item.image}}">
  <md-card-content>
    <p>
        {{item.description}}
    </p>
      <md-progress-bar mode="determinate" value="{{calculateAmount( item)}}" max></md-progress-bar>
    <div class="highlights">
      <span>TNA {{item.TNA}}%</span>
      <span>{{item.duration}} Meses</span>
      <span>${{item.invesment}}</span>
    </div>

  </md-card-content>
</md-card>

