.project-form{
    .reward-card{
        background: darken(white, 10%);
        margin: 10px;
        box-shadow: 5px 5px 5px #888888;

    }
    .new-project {
        width: 500px;
    }

    .field-full-width {
        width: 100%;
    }
}
