<nav class="navbar navbar-default">

    <md-toolbar color="primary">
        <a [routerLink]="['/home']">Asociame</a>
        <span class="example-spacer"></span>
        <ul class="nav navbar-nav navbar-right">
            <li>
                    <a [routerLink]="['']">Home</a>
                </li>
                <li>
                    <a [routerLink]="['/create']">Proyecto nuevo</a>
                </li>
                <li>
                    <a [routerLink]="['/category/1']">Category</a>
                </li>
            <li>
                <!-- We'll show the login link if the user is not currently logged in -->
                <a (click)=authService.login() *ngIf="!authService.isLoggedIn()">Loguearse</a>
            </li>
            <li>
                <!-- On the other hand, if the user is logged in, we'll show a log out link -->
                <a [routerLink]="['/profile']" *ngIf="authService.isLoggedIn()">{{authService.getProfile().name}}</a>
            </li>

            <li>
                <!-- On the other hand, if the user is logged in, we'll show a log out link -->
                <a (click)=authService.logout() *ngIf="authService.isLoggedIn()">Salir</a>
            </li>
        </ul>
    </md-toolbar>
</nav>
      <button class="btn btn-primary btn-margin" (click)="authService.login()" *ngIf="!authService.authenticated()">Log In</button>
      <button class="btn btn-primary btn-margin" (click)="authService.logout()" *ngIf="authService.authenticated()">Log Out</button>


<div class="intro-header">
    <router-outlet></router-outlet>
</div>

